.page {
  width: 100%;
  min-width: 0;
  padding: 1rem;
}

.sections {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.placeholder {
  min-height: 4rem;

  display: flex;
  align-items: center;

  color: var(--color-text-secondary);
  font-size: var(--font-size-sm);
}

@media (min-width: 768px) {
  .page {
    padding: 1.5rem 2rem;
  }
}

@media (min-width: 1200px) {
  .page {
    padding: 1rem 0;
  }

  .sections {
    padding: 0 2rem;
  }
}
